/* body {
  height: 100vh;
  width: 100vw;
  position: absolute;

  border: solid black 3px;
} */
* {
  box-sizing: border-box;
}
#container1 {
  width: 50vw;
  height: 1000px;
  left: 0px;
  top: 0px;
  border: solid rgb(0, 255, 0) 5px;
  pointer-events: none;
  transition: all 1s;
}

#formBox {
  position: fixed;
  left: 0px;
  bottom: 0;
  pointer-events: auto;
}
#button {
  pointer-events: auto;
}
#box {
  position: fixed;
  top: 0px;
  left: 0px;
}
