<?php

// mysql
$mysqlUser = "test";
$mysqlPassword = "test";
$mysqlIpAddress = "db";

// Google email
$googleEmail = "test";
$googlePassword = "test";

//URL
//home
$mainUrl = "http://" . "test";
// work
$mainUrl = "http://" . "test";
// iphone
$mainUrl = "http://" . "test";

// Root Directory
$rootD = "var/www/html/esignature";

//  Root folder on server (MAKER SURE YOU ADD A SLASH AT THE BEGINING AND END OF FOLDER NAME)
$rootFolder = "/esignature/";
