* {
  box-sizing: border-box;
}
#container1 {
  position: fixed;
  top:0px;
  left:0px;
  width: 50vw;
  height: 2000px;
  border: solid rgb(0, 255, 0) 5px;
  pointer-events: none;
  transition: all 200ms;
}

#formBox {
  position: absolute;
  left: 0px;
  bottom: 0px;
  pointer-events: auto;
}
#box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  background: red;
  pointer-events: auto;
}
