*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
#container{
    position: fixed;
    border:solid rgb(133, 247, 125) 4px;
    width:100vw;
    height:600px;
    pointer-events: none;
    overflow-y: scroll;
    transition: all 200ms;
}

#inputTag{
    position: absolute;
    left:0px;
    bottom:0px;
    pointer-events: auto;
}
#button{
    position: absolute;
    left:0px;
    top:0px;
    width: 100px;
    height:100px;
    background: red;
    pointer-events: auto;
}